nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 0px 20px;
    background: #002436;
    height: 100px;
}

nav .logo img {
    width: 160px;
    height: 160px;
}

nav .links ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

nav .links ul li a {
    color: #7360ff;
}

nav .links ul li a.active {
    font-weight: bold;
}