<div class="title">
    <h2>Sumarry Tasks</h2>
    <button ng-click="showModal()">Add Task</button>
</div>

<div class="task-box-datatable">

    <div class="tab-box">
        <button class="tab active-tab">Waiting</button>
        <button class="tab">Progress</button>
        <button class="tab">Finished</button>
    </div>

    <div class="content-box">
        <div class="content active-content">
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Description</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Corporativo</td>
                        <td>Entrevista Técnica com AZI Tecnologia</td>
                        <td>20/01/2025</td>
                        <td>21/01/2025</td>
                        <td>
                            <button>Finish</button>
                            <button>Edit</button>
                            <button>Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Corporativo</td>
                        <td>Entrevista Técnica com AZI Tecnologia</td>
                        <td>20/01/2025</td>
                        <td>21/01/2025</td>
                        <td>
                            <button>Finish</button>
                            <button>Edit</button>
                            <button>Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Corporativo</td>
                        <td>Entrevista Técnica com AZI Tecnologia</td>
                        <td>20/01/2025</td>
                        <td>21/01/2025</td>
                        <td>
                            <button>Finish</button>
                            <button>Edit</button>
                            <button>Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Corporativo</td>
                        <td>Entrevista Técnica com AZI Tecnologia</td>
                        <td>20/01/2025</td>
                        <td>21/01/2025</td>
                        <td>
                            <button>Finish</button>
                            <button>Edit</button>
                            <button>Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Corporativo</td>
                        <td>Entrevista Técnica com AZI Tecnologia</td>
                        <td>20/01/2025</td>
                        <td>21/01/2025</td>
                        <td>
                            <button>Finish</button>
                            <button>Edit</button>
                            <button>Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="content">
            <h2>Progress</h2>
        </div>
        <div class="content">
            <h2>Finished</h2>
        </div>
    </div>

</div>

<div class="modal-background"></div>

<section id="modal">

    <div class="modal-header">
        <p>Create new Task</p>
    </div>
    <div class="modal-content">
        <form>

            <div class="row">
                <div class="form-input">
                    <label>Title</label>
                    <input type="text" placeholder="Title"/>
                </div>
            </div>

            <div class="row">
                <div class="form-input">
                    <label>Description</label>
                    <input type="text" placeholder="Description"/>
                </div>
            </div>

        </form>
    </div>
    <div class="modal-footer">
        <button class="column80">Create Task</button>
        <button ng-click="hideModal()" class="column20">Cancel</button>
    </div>

</section>