<div class="title">
    <h2>Sumarry Tasks</h2>
    <button>Add Task</button>
</div>

<div class="task-box-datatable">

    <div class="tab-box">
        <button class="tab active-tab">Waiting</button>
        <button class="tab">Progress</button>
        <button class="tab">Finished</button>
    </div>

    <div class="content-box">
        <div class="content active-content">
            <h2>Waiting</h2>
        </div>
        <div class="content">
            <h2>Progress</h2>
        </div>
        <div class="content">
            <h2>Finished</h2>
        </div>
    </div>

</div>